@import "./shared/fonts";
// color
@import "./shared/colors";
// Pages
@import "./shared/index";
@import "./portfolios";
// Header
@import "./shared/header";

html,
body {
  height: 100%;
  width: 100%;
  font-family: "PoorStory", "Arial" !important;
}

.self-typed {
  font-size: 21px;
  font-weight: bold;
  letter-spacing: 2px;
  color: white;
}

.absolute {
  position: absolute !important;
}

.error {
  font-weight: 700;
  color: red;
}

.clickable {
  cursor: pointer;
}

.base-page {
  padding-top: 150px;
  color: black;
  background-color: #ecedce;
  min-height: 100vh;
  .page-header {
    .page-header-title {
      font-weight: 700;
      color: black;
      display: inline-block;
      margin-bottom: 20px;
    }
  }
}
